{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
 
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita 
        tempora cum consequuntur sunt omnis
        ipsam adipisci laudantium dolore.alias in. 
        impedit amet quae voluptate eius officia?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet consequuntur ut, officiis placeat fugiat praesentium, in sapiente corrupti hic nemo enim consectetur nulla exercitationem minus laboriosam? Rerum eos laborum aspernatur labore doloribus asperiores ipsa amet, ex neque assumenda tempora saepe quae voluptatem
         velit impedit cupiditate officiis exercitationem accusamus doloremque? Earum.</p>
</div>

{% endblock content %}