{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
 <div class="col-sm-10"> 
     
    {% if messages %}
    {% for message in messages %}
     <p {% if message.tags%} class="alert alert-{{message.tags}} my-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}

   <h1 class="text-white my-5">Dashborad/ Update Post</h1>
   <form action="" method="post" novalidate>
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="update" class="btn btn-success">
       <a href="{% url 'dashborad' %}" class="btn btn-danger">Cancel</a>
   </form>
 </div>

{% endblock content %}